footer {
    background-color: #C4C4C4;
    height: 400px;
    width: 100%;
    margin-top: 112px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    padding-left: 116px;
}

.container-address {
    display: flex;
    flex-direction: column;
    color: #474545;
}

.container-social {
    display: flex;
    align-items: center;
    margin-top: 24px;
    gap: 15px;
}

.container-social img {
    max-width: 25px;
    max-height: 25px;

}

.container-address strong {
    margin-bottom: 12px;
}

.right-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.right-footer img {
    width: 200px;
}

.vertical-line {
    height: 85%;
    width: 1px;
    background-color: #6D6B6B;
}